accelerate==1.12.0 ; python_version >= "3.11" and python_version < "3.15"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.15"
bitsandbytes==0.48.2 ; python_version >= "3.11" and python_version < "3.15"
certifi==2026.1.4 ; python_version >= "3.11" and python_version < "3.15"
charset-normalizer==3.4.4 ; python_version >= "3.11" and python_version < "3.15"
click==8.3.1 ; python_version >= "3.11" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Windows"
contourpy==1.3.3 ; python_version >= "3.11" and python_version < "3.15"
cuda-bindings==12.9.4 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
cuda-pathfinder==1.3.4 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "3.15"
filelock==3.21.2 ; python_version >= "3.11" and python_version < "3.15"
fonttools==4.61.1 ; python_version >= "3.11" and python_version < "3.15"
fsspec==2026.2.0 ; python_version >= "3.11" and python_version < "3.15"
hf-xet==1.2.0 ; python_version >= "3.11" and python_version < "3.15" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
huggingface-hub==0.36.2 ; python_version >= "3.11" and python_version < "3.15"
idna==3.11 ; python_version >= "3.11" and python_version < "3.15"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "3.15"
joblib==1.5.3 ; python_version >= "3.11" and python_version < "3.15"
kiwisolver==1.4.9 ; python_version >= "3.11" and python_version < "3.15"
markupsafe==3.0.3 ; python_version >= "3.11" and python_version < "3.15"
matplotlib==3.10.8 ; python_version >= "3.11" and python_version < "3.15"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.15"
networkx==3.6 ; python_version >= "3.11" and python_version < "3.15"
numpy==2.4.2 ; python_version >= "3.11" and python_version < "3.15"
nvidia-cublas-cu12==12.8.4.1 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-cupti-cu12==12.8.90 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-nvrtc-cu12==12.8.93 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-runtime-cu12==12.8.90 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cudnn-cu12==9.10.2.21 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cufft-cu12==11.3.3.83 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cufile-cu12==1.13.1.3 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-curand-cu12==10.3.9.90 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusolver-cu12==11.7.3.90 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusparse-cu12==12.5.8.93 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusparselt-cu12==0.7.1 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nccl-cu12==2.27.5 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nvjitlink-cu12==12.8.93 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nvshmem-cu12==3.4.5 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nvtx-cu12==12.8.90 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
packaging==26.0 ; python_version >= "3.11" and python_version < "3.15"
pillow==12.1.1 ; python_version >= "3.11" and python_version < "3.15"
protobuf==5.29.6 ; python_version >= "3.11" and python_version < "3.15"
psutil==7.2.2 ; python_version >= "3.11" and python_version < "3.15"
pycountry==26.2.16 ; python_version >= "3.11" and python_version < "3.15"
pydantic-core==2.41.5 ; python_version >= "3.11" and python_version < "3.15"
pydantic-extra-types==2.11.0 ; python_version >= "3.11" and python_version < "3.15"
pydantic==2.12.5 ; python_version >= "3.11" and python_version < "3.15"
pyparsing==3.3.2 ; python_version >= "3.11" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.15"
pyvalues==0.8.0 ; python_version >= "3.11" and python_version < "3.15"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "3.15"
regex==2026.1.15 ; python_version >= "3.11" and python_version < "3.15"
requests==2.32.5 ; python_version >= "3.11" and python_version < "3.15"
sacremoses==0.1.1 ; python_version >= "3.11" and python_version < "3.15"
safetensors==0.7.0 ; python_version >= "3.11" and python_version < "3.15"
setuptools==82.0.0 ; python_version >= "3.12" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.15"
sympy==1.14.0 ; python_version >= "3.11" and python_version < "3.15"
tokenizers==0.22.2 ; python_version >= "3.11" and python_version < "3.15"
torch==2.10.0 ; python_version >= "3.11" and python_version < "3.15"
tqdm==4.67.3 ; python_version >= "3.11" and python_version < "3.15"
transformers==4.57.6 ; python_version >= "3.11" and python_version < "3.15"
triton==3.6.0 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.15"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "3.15"
urllib3==2.6.3 ; python_version >= "3.11" and python_version < "3.15"
